body{
	text-align: center;
	background-image: url(img/MilkyWay.jpg);
	color: #f1f1f1;
	margin:auto;
	padding:auto;
	background-position: center;
	background-size: 100% 100%;
}
.text{
	border: 2px solid #f1f1f1;
	border-radius: 30px;
	font-size: 20px;
	font-family: monospace;
}
.kartinki{
	border:2px solid #f1f1f1;
	height: 1000px;
	border-radius: 100%;
	background-position: center;
	background-image: url(img/8.jpg);
	background-size:100% 100%;
}
.photo{
	border:2px solid #f1f1f1;
	height: 1000px;
	border-radius: 100%;
	background-position: center;
	background-image: url(img/7.jpg);
	background-size:100% 100%;
}

